

.row.home {
	width: 100%;
}

.content1{
	width: 100%;
	height: 800px;
	background-color: lightgray;
	float: left;
}

.content1-img img{
	width: 100%;
	height: 60%;
}

.content1-group-card {
	position: relative;
	top: -145px;
}

.content1-card {
	background-color: #459DB5;
	margin:  0px 20px 0px 0px;
	max-width: 360px;
	opacity: 0.8;
}
.content1-card-icon {
    position: relative;
    top: -60px;
}

.content1-card-text {
	position: relative;
    top: -60px;
}

.content1-card-text h3{
	padding-bottom: 20px;
	color: white;
}

.content1-card-text{

	color: white;
}
/*content2*/
.content2 {
	padding-top: 50px;
	padding-bottom: 50px;
}

/*content3*/
.content3{
	background-image: url('../image/global.jpg');
	background-repeat: no-repeat;
	padding-top: 50px;
	padding-bottom: 50px;
	/*background-color: yellow;*/
}

.content3-card-icon img{
	width: 160px;
	height: 160px;
	position: relative;
	top: 80px;
	left: 15px;
	z-index: 1;
}
.content3-card-text {
	background-color: #E2E1DF;
	opacity: 0.6;
	padding-top: 20px;
	padding-bottom: 20px;
	
}
.content3-card-text h3, small{
	position: relative;
	left: 200px;
	
}

.bder {
	border: solid 5px white  ;

}