
.left{
     width: 15%;
     height: auto;
     float:left;
     margin-bottom: 5px;
}
.content{
    float:left;
    width: 37%;
    max-width: 37%;
    height: auto;
    background: #FFF;
    padding:20px;
    text-align: justify;
    margin-left: 1%;
    margin-bottom: 1%;
}
.title{
	color: #0000FF;
	font-size: 20px;
}
.main_TT{
	color: #FF0000;
	font-size: 30px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.sidebar{
    width: 37%;
	height:auto;
	padding: 40px;
	float: left;
	background: none;
    margin-right: 1%;
}
.menu{
	color: #FF0000;
	font-size: 20px;
}
ul{
	text-align: left;
	list-style-type: none;
}	

.wrapper {
	position: relative;
	top: 50px;
}
